html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #e3edf1;
}
ol, ul {
	list-style: none;
  font-size: 18px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
  vertical-align:top;
}

h1{
  font-size: 48px;
  font-weight: 600px;
  text-align: center;
}

#dining_room, #snack, #oneDay, #twoDay, #threeDay, #budget, #stay{
  width: 100%;
  height: 1000px;
  padding: 120px 0;
  color: white;
  text-align: center;
  display: flex;
  position: relative;
}
.content .top p,.content .top h2{
  font-weight: 800;
  font-size: 30px;
}

#dining_room{
  background: linear-gradient(0deg, rgba(226,150,223, 0.2), rgba(226,150,223, 0.2)), url('image/澎漁宴.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#snack{
  background: linear-gradient(0deg, rgba(85,157,205, 0.4), rgba(85,157,205, 0.4)), url('image/玉冠.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#oneDay{
  background: linear-gradient(0deg, rgba(255,160,122, 0.1), rgba(255,160,122, 0.1)), url('image/images.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#twoDay{
  background: linear-gradient(0deg, rgba(255,201,141, 0.4), rgba(255,201,141, 0.4)), url('image/大倉2.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#threeDay{
  background: linear-gradient(0deg, rgba(255,243,141, 0.4), rgba(255,243,141, 0.4)), url('image/Penghu2.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#budget{
  background: linear-gradient(0deg, rgba(141,255,200, 0.1), rgba(141,255,200, 0.1)), url('image/預算.jpg');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

#stay{
  background: linear-gradient(0deg, rgba(122,191,255, 0.0), rgba(122, 191, 255, 0.0)), url('image/民宿.png');
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
}

.button{
  width: 250px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: rgba(108, 117, 125,0.9);
  display: inline-block;
  border-radius: 50px;
  display: block;
}

.top{
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.footer p{
  background-color: rgb(206, 220, 224);
  margin-bottom: 0;
}

#dining_room_content, #snack_content, #oneDay_content, #twoDay_content, #threeDay_content, #budget_content, #stay_content{
  display: none;
}

.text-secondary{
  font-size: 14px;
  display: inline-block;
}


.table{
  border-color: #000;
}

#budget_content p{
  margin-right: 185px !important;
}

#oneDay_content a{
  display: inline-block;
}

.slick{
  max-width: 500px;
  margin: auto;
}

.slick a{
  display: block;
  text-align: center;
}

.slick img{
  max-width: 500px;
  height: auto;
}

#snack_content .slick img, #dining_room_content .slick img, #threeDay_content .slick img, #twoDay_content .slick img{
  margin: auto;
  height: 400px;
}

@media(max-width:992px){
  #dining_room, #snack, #oneDay, #twoDay, #threeDay, #budget, #stay{
    height: 400px;
  }
  #budget_content p{
    margin-right: 85px !important;
  }

  .slick{
    max-width: 400px;
    margin: auto;
  }

  .slick img{
    max-width: 400px;
    height: auto;
  }

  #snack_content .slick img, #dining_room_content .slick img, #threeDay_content .slick img, #twoDay_content .slick img{
    margin: auto;
    height: 350px;
  }
}

@media(max-width:768px){
  #dining_room, #snack, #oneDay, #twoDay, #threeDay, #budget, #stay{
    height: 300px;
  }
  #budget_content p{
    margin-right: 30px !important;
  }

  .slick{
    max-width: 400px;
    margin: auto;
  }

  .slick img{
    max-width: 400px;
    height: auto;
  }

  #snack_content .slick img, #dining_room_content .slick img, #threeDay_content .slick img, #twoDay_content .slick img{
    margin: auto;
    height: 300px;
  }
}

@media(max-width:576px){
  #dining_room, #snack, #oneDay, #twoDay, #threeDay, #budget, #stay{
    height: 50px;
  }
  #budget_content p{
    margin-right: 16px !important;
  }

  .slick{
    max-width: 300px;
    margin: auto;
  }

  .slick img{
    max-width: 300px;
    height: auto;
  }

  #snack_content .slick img, #dining_room_content .slick img, #threeDay_content .slick img, #twoDay_content .slick img{
    margin: auto;
    height: 224px;
  }
}